/*Default Stylesheet*/
body{
	margin: 0px;
}

.background{
	position: absolute;
	z-index: -1;
	height: 100%;
	max-height: 768px;
	width: 100%;
}

#topMenu{
	background-color: rgb(30, 30, 30);
	height: 60px;
}
